* {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    color: #333;
    background-color: #FFF !important;
    cursor: inherit !important;
    box-sizing: border-box;
}

input:focus {
    outline: none;
}

#bg-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    filter: blur(30px);
    transform: scale(1.6);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: -1000;
}

.menu-element {
    font-size: 16px;
    width: 200px;
    height: 40px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 6px;
    border: 0px solid #888;
    background-color: #DEDEDE;
}

.menu-element:hover {
    background-color: #C9C9C9;
    cursor: pointer;
}

.hidden {
    display: none;
}

.collection-element {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card {
    width: 400px;
    border-radius: .5em;
    text-decoration: none;
    background: white;
    margin: 8px;
    padding: 10px;
    box-shadow: 0 1.5em 2.5em -.5em rgba(0, 0, 0, .1);
    line-height:0;
}

.card > img {
    width: inherit;
    border-radius: .5em;
    box-sizing:border-box;
}

#main {
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#view-main {
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
}

#collectionName, #photoUrl {
    margin-bottom: 10px;
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}
*::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}