<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Extend collection</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div id="bg-img"></div>
<div id="main">
    <form action="extend" method="post">
        <input type="text" name="collectionName" class="hidden" th:value="${collectionName}">
        <input type="text" name="photoUrl" id="photoUrl" class="menu-element" placeholder="Ссылка" required>
        <button type="submit" class="menu-element">Добавить фото</button>
    </form>
</div>
</body>
</html>
